@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
  #burguer {
    display: none;
  }

  .nav-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-box #item{
    display:block;
    margin: 0px;
  }

  
  .nav-box #item li{
     display:inline-block;
   }

  .nav-box #item li .link {
    background-color: transparent;
    margin-left: 10px;
  }

  .nav-box #item li .link:hover {
    border-bottom: 1px #3c5ef1 solid;
  }

  .main-box {
     display: flex;
     flex-direction: row;
   }

  .main-content {
     flex: auto;
     margin: 20px 5px;
     width: 33.3%;
     background-color: rgba(0, 0, 0, 0.075);
   }

   .parceiros-box{
     display:flex;
     flex-wrap: wrap;
   }

   .parceiros-box article {
    flex: auto;
    width: 47%;
    margin:0 10px;
   }
 
}
